site_name: Pito Salas' Blog - Today I learned...
site_description: Pito Salas Link Blog and More
site_author: Pito Salas
site_url: https://pitosalas.github.io/wp-convert/
repo_url: https://github.com/pitosalas/wp-convert
copyright: Copyright &copy 2000-2024 Pito Salas
docs_dir: docs
theme:
  name: material
  logo: images/icons/bhslogo.png
  favicon: images/icons/bhslogo.png
  features:
    - navigation.footer
    - navigation.tabs
    - search.suggest
  custom_dir: overrides
  palette:
    primary: grey
    accent: blue
    toggle:
      icon: menu
      name: Menu

plugins:
  - search
  - blog:
      blog_dir: .
      blog_toc: true
  - tags:
      enabled: true
      tags: true
      tags_file: tags.md
nav:
  - Blog:
    - index.md
  - Recommendations: pages/recommendations.md
  - Independent Study: pages/independent-study.md
  - Finding A Job: pages/finding-a-job.md
  - Keeping Up: pages/keeping-up.md
  - Curacao Notes: pages/curacao.md
  - tags.md
extra_css:
  - mystyle.css