site_name: Salas.com
site_description: Pito Salas Link Blog and More
site_author: Pito Salas
copyright: Pito Salas 2023
docs_dir: docs
theme:
  name: material
plugins:
  - search
  - blog:
      blog_dir: .
      blog_toc: true
  - tags:
      enabled: true
      tags: true
      tags_file: tags.md

nav:
  - Blog:
    - index.md
  - Finding a Job: pages/finding-a-job.md
  - Independent Study: pages/independent-study.md
  - pages/keeping-up.md
  - pages/curacao.md
  - pages/recommendations.md
  - pages/about.md
  - tags.md
extra_css:
  - mystyle.css