.md-post--excerpt {
  margin-bottom: 1.5em;
}

.md-post {
  border-bottom: .1rem solid var(--md-default-fg-color--light);
}

@media screen and (max-width: 76.2344em) {
  .md-tabs {
    display: initial;
  }
}

.banner img {
  width: 100%;
  height: 100px;
  display: block;
}

.md-typeset ol li, .md-typeset ul li {
  margin-bottom: 0px;
}

img.cover {
    float: left;
    margin-right: 15px; /* Adds space between the text and the image */
}}