name: ci 
on:
  push:
    branches:
      - main
  schedule:
    - cron: '0 0,12 * * *'
permissions:
  contents: write
jobs:
  deploy:
    env:
      RAINDROP_TOKEN: ${{secrets.RAINDROP_TOKEN}}    
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Configure Git Credentials
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com
      - uses: actions/setup-python@v4
        with:
          python-version: 3.x
      - run: echo "cache_id=$(date --utc '+%V')" >> $GITHUB_ENV 
      - uses: actions/cache@v3
        with:
          key: mkdocs-material-${{ env.cache_id }}
          path: .cache
          restore-keys: |
            mkdocs-material-
      - run: pip install mkdocs-material
      - run: pip install mkdocs-awesome-pages-plugin
      - run: pip install mkdocs-section-index
      - run: pip install html2text
      - run: python tagsimport.py
      - run: python raindrop_api_import.py
      - run: python blogbuild_v2.py
      - run: mkdocs gh-deploy --force
