name: ci 
on:
  push:
    branches:
      - main
  schedule:
    - cron: '0 0,12 * * *'
permissions:
  contents: write
jobs:
  deploy:
    env:
      RAINDROP_TOKEN: ${{secrets.RAINDROP_TOKEN}}
      MASTO_TOKEN: ${{secrets.MASTO_TOKEN}}
      CI_COMMIT_MESSAGE: Update url list
      CI_COMMIT_AUTHOR: GH action
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with: 
          fetch-depth: 0
      - name: Configure Git Credentials
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com
      - name: install python
        uses: actions/setup-python@v4
        with:
          python-version: 3.x
      - name: Setup github_eng with cache 
        run: echo "cache_id=$(date --utc '+%V')" >> $GITHUB_ENV 
      - name: grab content via cahce if possible
        uses: actions/cache@v3
        with:
          key: mkdocs-material-${{ env.cache_id }}
          path: .cache
          restore-keys: |
            mkdocs-material-
      - name: install dependencies
        run: | 
          pip install mkdocs-material
          pip install mkdocs-awesome-pages-plugin
          pip install mkdocs-section-index
          pip install html2text
          pip install mkdocs-rss-plugin
      - name: run the pipeline
        run: | 
          python raindrop_api_import.py
          python masto_post.py
          python blogbuild_v2.py
          export PYTHONPATH=. ; mkdocs gh-deploy --force
      - name: GIT Commit Build Artifacts
        run: |
            git config --global user.name "${{ env.CI_COMMIT_AUTHOR }}"
            git config --global user.email "username@users.noreply.github.com"
            git commit -a -m "${{ env.CI_COMMIT_MESSAGE }}"
            git push
